h1{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image:url(/img/snow_winter_trees.jpg);
    background-size: cover;
    border: red solid 2px;
    flex-direction: column;
}
.topbilderong{
    max-width: 100px;
    height: 25px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid black;
    border-radius: 5px ;
    padding: 5px;
}
.topbilder{
    border: red solid 2px;
    border-radius: 5px ;
    padding: 5px;
    padding-top: 10px;
    margin: 6px;
}
.jul{
margin-bottom: 200px;
}
.mellan {
	display: flex;
	gap: 10px;
	padding: 5px;

    border: 2px solid red;
}

.vänster {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
    border: 2px red solid;
}

.vänster img {
	height: 20px;
}

.main {
	width: 75%;
    border: red solid 2px;
}

.vänster {
	width: 20%;
}

.höger {
    width: 100px;

    border: 2px solid red;

}

.höger img {
    width: 100%;
    height: 100%;
    object-fit: fill;

}
div{
    border-radius: 5px ;
}
.sidfot {
	display: flex;
	justify-content: center;   
    border: solid red 2px; 
}